# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

data/raw/polars/
data/processed/xfoil_dataset_rows.csv
data/processed/xfoil_runs_index.csv
